@font-face {
    font-family: 'MBFCanno'; 
    src: url('../../../src/fonts/canno-5541776/MBF\ Canno.ttf') format('truetype'),
    url('../../fonts/canno-5541776/MBF\ Canno.otf') format('opentype');
}
@font-face {
    font-family: 'Games'; 
    src: url('../../../src/fonts/games-76425037/Games.ttf') format('truetype'),
    url('../../fonts/games-76425037/Games.otf') format('opentype');
}

.footer{
    background-color: #233746;
    box-shadow: 0px 0px 6px 8px #33333349;
}

.s-icons{
    cursor: pointer;
    color: #fff;
}
.s-icons:hover{
scale: 1.1;
}
.name{
    font-family:MBFCanno;
    color: #fff;
    font-weight: 500 !important;
    cursor: pointer;
}
.f-h{
    font-family:Games;
    color: #fff;
    letter-spacing: 0.2em;
}